/* Estilos Generales y Contenedor Principal */
body{
    background: rgb(234, 232, 243);
    justify-content: center;
    padding: 0 25px 25px 25px;
}
main{
    width: 1300px;
}

/* Estilos del Menú de Navegación */
nav{
    background:rgb(60, 240, 204);
    height: 70px;
    margin-bottom: 10px;
    text-align: center;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    padding: 23px;
}
.amenu{
    text-decoration: none;
    color: rgb(8, 8, 8);
    padding: 23px;
    background:rgb(60, 240, 204);
}
.amenu:hover{
    background-color: darkcyan;
}

/* Estilos de la Cabecera/Título Principal */
#titulo{
    height: 250px;
    background-image: url("img/platita.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:rgb(255, 255, 255);
    text-align: center;
    padding-top:50px;
    font-size: 50px;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.7), 0px 1px 0px #fff;
}

/* Sección de Introducción: 'El cambio climatico y sus efectos en los animales' */
.cambioClimaticoInicio{
    width: 1250px;
    background: rgb(130, 245, 207);
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Contenedor de la lista de motivos dentro de la sección inicial */
#listaMotivos{
    background: rgb(188, 241, 230);
    border: 2px solid black;
    border-radius: 10px;
    text-align: justify;
    padding-right: 10px;
}

.negrita{
    font-weight: bold;
}

/* Sección de Animales en peligro */
.cajaAnimales{
    width: 1250px;
    background: rgb(130, 245, 207);
    border: 2px solid black;
    border-radius: 10px; 
    padding: 15px;
}

/* Estilos de las imágenes de los animales */
img{
    width: 450px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px; 
}

/* Alineación vertical de la imagen y la caja de texto */
img.imagenesAnimales,
.cajasTextoAnimal {
    vertical-align: middle; 
}

/* Estilos de las cajas de texto con descripciones de animales */
.cajasTextoAnimal{
    width: 715px;
    background: rgb(188, 241, 230);
    border: 2px solid black;
    border-radius: 10px; 
    display: inline-block;
    padding: 35px;
    font-size: 18px;
    text-align: justify;
}
.izq{
    text-align: right;
}

/* Estilos de la Tabla (usada en la sección de 'Cómo ayudar') */
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(207, 229, 248);
    height: 60px;
    margin-bottom: 20px;
}

th{
    background-color: rgb(184, 255, 243);
}

/* Estilos del Formulario */
#formulario{
    background-color: aliceblue;
    width: 550px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    margin:auto;
}

#formu{
    background-image: url("img/tierra.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 10px; /* Espaciado entre etiquetas */
}


.botonesFormulario{
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    background-color: darksalmon;
    font-weight: bold;
}

/* Estilos de cajas de texto en la sección de ayuda */
.cajasTextoAyuda{
    width: 720px;
    background: rgb(188, 241, 230);
    border: 2px solid black;
    border-radius: 10px; 
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

.cajitaTextoP{
    background: rgb(243, 123, 123);
    border: 2px solid black;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 25px;
}

#imagenAyuda{
    width: 500px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px; 
    margin-left: 15px;
}

/* Estilos del Pie de Página (Footer) */
.piePagina{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
    padding-bottom: 40px;
}